<ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Samsung</a></li>
        <li class="divider"></li>
        <li><a href="#!">Sony</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logitech</a></li>
      </ul>
  <nav>
        <div class="nav-wrapper yellow accent-4">
          <a href="#" class="brand-logo center">MarkeTUA</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Categorias</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Marcas</a></li>
          </ul>
        </div>
      </nav>