
<div class="carrito">
  <h3 (click)="!tablaOn">Carrito</h3>
  <table *ngIf="tablaOn" class="table table-dark ">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Costo</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of itemsCarrito" class="table-active">
        <th id="item" scope="col">{{item.item}}</th>
        <th scope="col">{{item.cost | currency:"COP":"symbol-narrow"}}</th>
        <td><a class="btn alert" (click)="remove(item)">Remove</a></td>
      </tr>
    </tbody>
  </table> 
  <table class="table table-dark ">
    <thead>
      <tr>
        <th>Total</th>
        <th>{{suma | currency:"COP":"symbol-narrow"}}</th>
      </tr>
    </thead>
  </table>
</div>

