<div class="col s10 m10">
    <h2 class="header">{{item.title}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{item.thumbnail}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{item.descriptions[0].id}}</p>
          <p><span class="blue-text text-darken-2">{{item.price | currency:"COP":"symbol-narrow"}}</span></p>
          <!--<p>{{item.brand}}</p>
          <p>{{item.images}}</p>
          <p>{{item.rating}}</p>
          <p>{{item.category.category_name}}</p>
          <p>{{item.soldunits}}</p>-->
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l2">
    <app-carrito></app-carrito>
  </div>