<div class="row">
  <div class="col-lg-8">
  <div class="card ">
    <img src="{{item.pictures[0].url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title-primary ">{{item.title}}</h3>
      <p class="card-text-primary ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush  text-white ml-center">
      <li class="list-group-item bg-primary">Precio: {{item.price | currency:"COP":"symbol-narrow"}}</li>
      <li class="list-group-item bg-primary">Unidades Vendidas: {{item.sold_quantity}}</li>
      <li class="list-group-item bg-primary">Categoria: {{item.category_id}}</li>
    </ul>
    <div class="card-action">
        <button (click)="agregarCarrito()"  type="button" class="btn btn-dark">Añadir al carrito</button>
    </div>
  </div>
</div>
  <div class="col-lg-4">
    <app-carrito [itemsCarrito]="carrito" [tablaOn]="tablaOn"></app-carrito>
  </div>
</div>
  