<div class="container">

  <div class="section">
    <div class="row">
      <div class="col-lg-10">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Img</th>
              <th scope="col">Item</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Detalles</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of carrito">
              <th scope="row"></th>
              <td id="item">{{item.name}}</td>
              <td id="quantity">{{item.quantity}}</td>
              <td id="price">{{item.price | currency:"COP":"symbol-narrow"}}</td>
              <td><a (click)="onSelected(item)">Detalles>></a></td>
              <td><a id="remover" (click)="remove(item)"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row total">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-5">
              <h3>TOTAL: {{suma | currency:"COP":"symbol-narrow"}}</h3> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">

      </div>
      <div class="col-sm-5">
        <a class="btn cart" (click)="realizarCompra()">Realizar Compra</a>
      </div>
    </div>
  </div>
</div>

