<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-7 mt-5">
                <h1 style="font-family: Verdana">Finalizar compra </h1><br> <br>

                <form [formGroup]="shipping">
                    <div class="form-group">
                        <label>Dirección de entrega</label>
                        <input type="text" formControlName="shipment_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shipment_address.errors }" />
                        <div *ngIf="submitted && f.shipment_address.errors" class="invalid-feedback">
                            <div *ngIf="f.shipment_address.errors.required">Por favor, ingresa tu dirección</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Piso o departamento</label>
                        <input type="text" formControlName="apto" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Municipio</label>
                        <input type="text" formControlName="municipality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.municipality.errors }" />
                        <div *ngIf="submitted && f.municipality.errors" class="invalid-feedback">
                            <div *ngIf="f.municipality.errors.required">Por favor, ingresa el municipio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        <input class="form-control" formControlName="departament" [ngClass]="{ 'is-invalid': submitted && f.departament.errors }"/>
                        <div *ngIf="submitted && f.departament.errors" class="invalid-feedback">
                            <div *ngIf="f.departament.errors.required">Por favor, ingresa el departamento</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de la persona que va a recibir</label>
                        <input [disabled]=true class="form-control" [value]="user.name" formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }"/>
                        <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                            <div *ngIf="f.user_name.errors.required">Por favor, ingresa el nombre de quien va a recibir el pedido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Por favor, ingresa el teléfono</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingType"> Tipo de envío</label>
                        <select class="form-control" formControlName="shippingType" [ngClass]="{ 'is-invalid': submitted && f.shippingType.errors }">
                            <option value="domicilio">Entrega a domicilio</option>

                        </select>
                        <div *ngIf="submitted && f.shippingType.errors" class="invalid-feedback">
                            <div *ngIf="f.shippingType.errors.required">Por favor, Selecciona el tipo de envío</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="payment_method"> Pago</label>
                        <select class="form-control" formControlName="payment_method" [ngClass]="{ 'is-invalid': submitted && f.payment_method.errors }">
                            <option value="contraentrega">Pago Contraentrega</option>
                        </select>
                        <div *ngIf="submitted && f.payment_method.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_method.errors.required">Por favor, Selecciona el pago</div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-5 mt-5">

                <h3 style="font-family: Verdana">Cantidad de productos:</h3><br>
                <h4>{{cantidad}}</h4><br>
                <h3 style="font-family: Verdana">Total a pagar:</h3><br>
                <h4 formControlName="total">{{total | currency:"COP":"symbol-narrow"}}</h4><br>
                <div class="form-group">

                    <div *ngIf="success" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Compra realizada con éxito.
                    </div>
                    <div *ngIf="shipping.invalid && submitted" class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Completa los campos.
                    </div>

                    <button style="border-radius: 10px" class="btn btn-primary btn-block" (click)="onSubmit()">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
