<div class="container">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>Finalizar compra </h1>

                <form [formGroup]="shipping" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Dirección de entrega</label>
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.nya.errors.required">Por favor, ingresa tu dirección</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Piso o departamento</label>
                        <input type="text" formControlName="apto" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Municipio</label>
                        <input type="text" formControlName="municipality" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.municipality.errors }" />
                        <div *ngIf="submitted && f.municipality.errors" class="invalid-feedback">
                            <div *ngIf="f.municipality.errors.required">Por favor, ingresa el municipio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Departamento</label>
                        <input class="form-control" formControlName="departament" [ngClass]="{ 'is-invalid': submitted && f.departament.errors }"/>
                        <div *ngIf="submitted && f.departament.errors" class="invalid-feedback">
                            <div *ngIf="f.departament.errors.required">Por favor, ingresa el departamento</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de la persona que va a recibir</label>
                        <input class="form-control" formControlName="nameReceiver" [ngClass]="{ 'is-invalid': submitted && f.nameReceiver.errors }"/>
                        <div *ngIf="submitted && f.nameReceiver.errors" class="invalid-feedback">
                            <div *ngIf="f.nameReceiver.errors.required">Por favor, ingresa el nombre de quien va a recibir el pedido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                            <div *ngIf="f.phone.errors.required">Por favor, ingresa el teléfono</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="shippingType"> Tipo de envío</label>
                        <select class="form-control" formControlName="shippingType" [ngClass]="{ 'is-invalid': submitted && f.shippingType.errors }">
                            <option value="domicilio">Entrega a domicilio</option>

                        </select>
                        <div *ngIf="submitted && f.postre.errors" class="invalid-feedback">
                            <div *ngIf="f.postre.errors.required">Por favor, Selecciona el Postre</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pay"> Pago</label>
                        <select class="form-control" formControlName="pay" [ngClass]="{ 'is-invalid': submitted && f.pay.errors }">
                            <option value="contraentrega">Pago Contraentrega</option>

                        </select>
                        <div *ngIf="submitted && f.postre.errors" class="invalid-feedback">
                            <div *ngIf="f.postre.errors.required">Por favor, Selecciona el Postre</div>
                        </div>
                    </div>

                    <h3>Total a pagar:</h3>
                    <h4>{{total | currency:"COP":"symbol-narrow"}}</h4>

                    <div class="form-group">
                        <button class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
