<div class="container">
  <div class="section">
  <div class="row">  
    <div class="col-md-2">
      <form #filtro="ngForm">
        <div class="form-group">
          <input class="form-control mr-sm-2 bg-dark text-white" name="buscar" type="search"  placeholder="Buscar" aria-label="Search" [(ngModel)]="buscar">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-dark" (click)="mostrar()" >Buscar</button>
        </div>
      </form>
    </div>
  </div>

    <div class="row">
      <div class="column" *ngFor="let item of items">
        <div class="card" style="width: 18rem;">
          <img src="{{item.itemImg}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title text-primary"><a id="detalle" (click) = "onSelected(item)">{{item.itemName}}</a></p>
            <p class="card-text">{{item.itemCost | currency:"COP":"symbol-narrow"}}</p><br>
          </div>
        </div>
      </div>
    </div>
</div>



