.card-title{
    font-weight: bold;
    font-size: 1.5ch;
    color: black;
}
#detalle{
    color: black;
    cursor: pointer;
}
.fas{
    font-size: 40px;
    color: rgb(14, 42, 146);
    cursor: pointer;
}