<div class="section">

  <div class="row">

  </div>

  <div class="row">
    <form #filtro="ngForm">
      <div class="col s8">
        <input type="text" id="filtro" name="filtro" placeholder="Ingrese Busqueda" name="busqueda"
          [(ngModel)]="buscar">

      </div>
      <div class="col s3">
        <a (click)="mostrar()"><i class="fas fa-search"></i></a>
      </div>
    </form>
  </div>

  <div class="row">

    <div class="col s4" *ngFor="let item of items">
      <div class="card small">
        <div class="card-content">
          <span class="card-title"><a id="detalle" (click) = "onSelected(item)">{{item.itemName}}</a></span>
          <img src="{{item.itemImg}}" alt=""><br>
          <span class="blue-text text-darken-2">{{item.itemCost | currency:"COP":"symbol-narrow"}}</span><br>
          {{item.sellerName}}
          
        </div>
      </div>
    </div>
  </div>