<div class="container section">
    
    <div class="row">
        <form #filtro="ngForm">
        <div class="col s8">
          <input type="text" name="filtro" placeholder="Ingrese Busqueda" name="busqueda" [(ngModel)]="buscar"> 
          
        </div>
        <div class="col s3">
                <a class="waves-effect waves-light btn" (click)="mostrar()">Buscar</a>
        </div>
        </form>
    </div>
    <div>
           <table>
                    <thead>
                      <tr>
                          <th></th>
                          <th>Item</th>
                          <th>Vendedor</th>
                          <th>Precio</th>
                          
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr *ngFor="let item of items">
                        <td><img src="{{item.itemImg}}" alt=""></td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.sellerName}}</td>
                        <td>${{item.itemCost}}</td>
                      </tr>
                    </tbody>
          </table>
    </div>
</div>
