<div class="container">

  <div class="section">
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col-sm-15">Método de pago</th>
              <th scope="col">Cantidad</th>
              <th scope="col-sm-15">Dirección de envío</th>
              <th scope="col-sm-15">Total a pagar</th>
              <th scope="col-sm-15">Quien recibe</th>
            </tr>
          </thead>
          <tbody class="thead-light">
            <tr *ngFor="let item of orders">
              <td id="item_id">{{item.item_id}}</td>
              <td id="payment_method">{{item.payment_method}}</td>
              <td id="quantity">{{item.quantity}}</td>
              <td id="shipment_address">{{item.shipment_address}}</td>
              <td id="total">{{item.total}}</td>
              <td id="user_name">{{item.user_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

