<div class="container">

  <div class="section">
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col-sm-15">Método de pago</th>
              <th scope="col">Cantidad</th>
              <th scope="col-sm-15">Dirección de envío</th>
              <th scope="col-sm-15">Total a pagar</th>
            </tr>
          </thead>
          <tbody class="thead-light">
            <tr *ngFor="let order of orders">
              <td id="item_id">{{order.items[0].item_id || async}}</td>
              <td id="payment_method">{{order.payment_method}}</td>
              <td id="quantity">{{order.items[0].quantity}}</td>
              <td id="shipment_address">{{order.shipment_address}}</td>
              <td id="total">{{order.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

